<% provide(:title, "About") %>
<!-- Content Header -->
<div class="row">
    <div class="col-sm-4 col-xs-offset-2">
      <h2>About</h2>
    </div>
</div>
<!-- Content -->
<div class="row col-xs-offset-2">
    <p>Welcome To Donna Doner!  A web application built by North Central College CSC
    694 Class of <a href="#">Fall 2016!</a></p>
    
    <b>Team</b>
    <ul>
        <li>Bill K</li>
        <li>Andy W</li>
        <li>Mike D</li>
        <li>Pat M</li>
        <li>Wei H</li>
        <li>Jason K</li>
    </ul>
    
        <p>Welcome To Donna Doner!  A web application built by North Central College CSC
    694 Class of Fall 2016!</p>
    
    <b>Team</b>
    <ul>
        <li>Bill K</li>
        <li>Andy W</li>
        <li>Mike D</li>
        <li>Pat M</li>
        <li>Wei H</li>
        <li>Jason K</li>
    </ul>
    
        <p>Welcome To Donna Doner!  A web application built by North Central College CSC
    694 Class of Fall 2016!</p>
    
    <b>Team</b>
    <ul>
        <li>Bill K</li>
        <li>Andy W</li>
        <li>Mike D</li>
        <li>Pat M</li>
        <li>Wei H</li>
        <li>Jason K</li>
    </ul>
    
        <p>Welcome To Donna Doner!  A web application built by North Central College CSC
    694 Class of Fall 2016!</p>
    
    <b>Team</b>
    <ul>
        <li>Bill K</li>
        <li>Andy W</li>
        <li>Mike D</li>
        <li>Pat M</li>
        <li>Wei H</li>
        <li>Jason K</li>
    </ul>
    
            <p>Welcome To Donna Doner!  A web application built by North Central College CSC
    694 Class of Fall 2016!</p>
    
    <b>Team</b>
    <ul>
        <li>Bill K</li>
        <li>Andy W</li>
        <li>Mike D</li>
        <li>Pat M</li>
        <li>Wei H</li>
        <li>Jason K</li>
    </ul>
</div>

