<% provide(:title, "Contact") %>
<div class="row">
  <div class="col-sm-10 col-xs-offset-2">
  	<div class="page-header">
  		<h2>Contact</h2>
  	</div>
  	<div class='row col-xs-offset-0'>
  	  <p>Thank you for your interest in our application! We appreciate your support.</p>
      <p>Please contact the management at <b><a href='mailto:wtkrieger@noctrl.edu'>
        wtkrieger@noctrl.edu</a></b>.</p>
      <p>Our office is located at North Central College in Naperville.</p>
  	</div>
  	<aside>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2975.4631596931986!2d-88.14545388495804!3d41.77523097923049!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e57ba0680c581%3A0xec886aa9cf5f8824!2sCarnegie+Hall%2C+10+N+Brainard+St%2C+Naperville%2C+IL+60540!5e0!3m2!1sen!2sus!4v1476557455365" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  	</aside>
  </div>
</div>
