<% provide(:title, "Help") %>
<div class="row">
  <div class="col-sm-10 col-xs-offset-2">
  	<div class="page-header">
  		<h2>Help</h2>
  	</div>
  </div>
</div>
<div class="row col-xs-offset-2">
    <p>Welcome To Donna Doner!  A web application built by North Central College CSC
    694 Class of Fall 2016!</p>
</div>