<% provide(:title, "Home") %>
<div class="row">
	<div class="col-xs-8 col-xs-offset-2 ">
		<div class="jumbotron well">
			<h2>Welcome to Donna Donor</h2>
			<p>
				Select one of the 4 basic actions to
				1) Add new gifts, 2) "Surf" means view/edit information online, 3) Create formatted reports, and
				4) Import/export data.
				<br>
			</p>
		</div>   <!-- jumbotron -->
	</div>   <!-- col -->
</div>   <!-- row -->
<div class="row row-donna-home-icons ">
	<div class="col-xs-12 col-sm-4 col-sm-offset-2">
		<%= link_to(new_gift_path) do %>
			<span class="glyphicon glyphicon-plus icon-donna icon-donna-new"></span><span class="icon-donna-text">New Gifts</span>
		<% end %>
	</div>
	<div class="col-xs-12 col-sm-4">
		<%= link_to(reports_path) do %>
			<span class="glyphicon glyphicon-print icon-donna icon-donna-reports"></span><span class="icon-donna-text">Reports</span>
		<% end %>
	</div>
</div>
<div class="row row-donna-home-icons ">
	<div class="col-xs-12 col-sm-4 col-sm-offset-2">
		<%= link_to(activities_path ) do %>
			<span class="glyphicon glyphicon-thumbs-up icon-donna icon-donna-surf"></span><span class="icon-donna-text">Surf!</span>
		<% end %>
	</div>
	<div class="col-xs-12 col-sm-4">
		<%= link_to(import_export_path) do %>
			<span class="glyphicon glyphicon-transfer icon-donna icon-donna-importexport"></span><span class="icon-donna-text">Import/Export</span>
		<% end %>
	</div>
</div>