<% provide(:title, "Home") %>
<div class="row">
    <div class="col-sm-4 col-xs-offset-2">
      <h2>Home</h2>
    </div>
</div>
<div class="row col-xs-offset-2">
    <p>Welcome To Donna Doner!  A web application built by North Central College CSC
    694 Class of Fall 2016!</p>
</div>