<% provide(:title, "Export") %>
<div class="row">
  <div class="col-sm-10 col-xs-offset-2">
  	<div class="page-header">
  		<h2>Export Data <small>&nbsp; Choose what type of data you would like to export.</small></h2>
  	</div>
  </div>
</div>
<div class="row col-xs-offset-2">
  <div>Export will be created for use with mailchimp.</div>
  <button type="button" onclick="alert('mailchimp export')">Export</button>
  <br />  <br />
</div>
<div class="row col-xs-offset-2">
  <div>Exports will be created for use in Contstant Contact.</div>
  <button type="button" onclick="alert('constant contact export')">Export</button>
  <br />  <br />
</div>
<%= render 'import_export/back' %>