<% provide(:title, "Import In Kind") %>
<div class="row">
  <div class="col-sm-10 col-xs-offset-2">
  	<div class="page-header">
  		<h2>Import In Kind Data <small>&nbsp; Choose what type of in kind data you 
  		would like to import.</small></h2>
  	</div>
  </div>
</div>
<div class="row col-xs-offset-2">
  <div>Imports will be created in the form of a .csv file, or whatever type 
  of file that Raiser's Edge or Donor Snap can output.</div>
  <br />
  <button type="button" onclick="alert('import in kind data')">Import In Kind Data</button>
  <br />
</div>
<%= render 'import_export/back' %>