<% provide(:title, "Edit Donor") %>
<% provide(:button_text, "Update") %>
<div class="row">
  <div class="col-sm-8 col-xs-offset-2">
  	<div class="page-header">
  		<h2>Edit Donor <small>&nbsp; Update this Donor or surf all donor gifts</small></h2>
  		<aside class="text-right">
  		  <div>
      		Surf to: 
          		<%=link_to "All Gifts for this Donor", "#" %>
        </div>
        <div>
          <%= link_to "Delete donor", @donor, method: :delete,
                                                          data: { confirm: "You sure?" } %>
        </div>
  		</aside>
  	</div>
  </div>
</div>
<div class="row">
  <%= render 'form' %>
</div>