<% provide(:title, "Edit Donor") %>
<% provide(:button_text, "Update") %>
<div class="row">
  <div class="col-sm-8 col-xs-offset-2">
  	<div class="page-header">
  		<h2>Edit Donor <small>&nbsp; Update this Donor or surf all donor gifts</small></h2>
  		<aside class="text-right">
  		  <div>
			      <span class="glyphicon glyphicon-plus icon-donna icon-donna-new"></span><span class="icon-donna-text"></span>
		        <%=link_to "Add New Gift for this Donor", new_gift_path(donor_id: @donor.id) %> 
  		  </div>
  		  <div>
      		Surf to: 
          		<%=link_to "All Gifts for this Donor", "/gifts?activity_id=&donor_id=" + @donor.id.to_s + "&commit=GO" %>
        </div>
        <div>
          <%= link_to "Delete donor", @donor, method: :delete,
                                                          data: { confirm: "Are you sure that you want to permanently remove this donor from the database? This action cannot be undone." } %>
        </div>
  		</aside>
  	</div>
  </div>
</div>
<div class="row">
  <%= render 'form' %>
</div>