<% provide(:title, "New Donor") %>
<div class="row">
  <div class="col-sm-10 col-xs-offset-2">
  	<div class="page-header">
  		<h2>New Donor <small>&nbsp; Create a new Donor.</small></h2>
  	</div>
  </div>
</div>
<div class="row">
    <form action="#" accept-charset="UTF-8" method="post">
    	<div class="row form-group">
      	<div class="col-xs-2 col-xs-offset-2">
        	<label for="donor_first_name">First Name </label><span class="required-field-marker">*</span>
          <input class="form-control input-sm" type="text" name="donor[first_name]" id="donor_first_name" />
        </div>
        <div class="col-xs-4">
        	<label for="donor_last_name">Last Name</label>
          <input class="form-control input-sm" type="text" name="donor[last_name]" id="donor_last_name" />
        </div>
      </div> <!-- row -->

      <div class="row form-group">
      	<div class="col-xs-4 col-xs-offset-2">
        	<label for="donor_address1">Address Line 1</label>
          <span class="required-field-marker">*</span>
          <input class="form-control input-sm" type="text" name="donor[address1]" id="donor_address1" />
        </div>
      </div>   <!-- row -->

      <div class="row form-group">
       	<div class="col-xs-4 col-xs-offset-2">
        	<label for="donor_address1">Address Line 2</label>
          <input class="form-control input-sm" type="text" name="donor[address2]" id="donor_address2" />
        </div>
      </div>   <!-- row -->

      <div class="row form-group">
        <div class="col-xs-2 col-xs-offset-2">
        	<label for="donor_state">State</label>
          <span class="required-field-marker">*</span>
          <input class="form-control input-sm" type="text" name="donor[State]" id="donor_state" />
        </div>

        <div class="col-xs-2">
        	<label for="donor_zip">Zip</label>
          <span class="required-field-marker">*</span>
          <input class="form-control input-sm" type="text" name="donor[Zip]" id="donor_zip" />
        </div>

        <div class="col-xs-2">
        	<label for="donor_country">Country</label>
          <input class="form-control input-sm" type="text" name="donor[Country]" id="donor_country" />
        </div>
			</div>   <!-- row -->

			<div class="row form-group">
		    <div class="col-xs-4 col-xs-offset-2">
		        <label for="donor_email">Email</label>
		        <span class="required-field-marker">*</span>
		        <input class="form-control input-sm" type="text" name="donor[email]" id="donor_email" />
		    </div>
			</div>   <!-- row -->

			<div class=" row form-group">
        <div class="col-xs-8 col-xs-offset-1 text-center">
            <input type="submit" name="commit" value="Create Donor" class="btn btn-success" />
						&nbsp;
            <input type="reset" name="cancel" value="Cancel" class="btn btn-danger" />
        </div>
    	</div>   <!-- row -->
   	</form>
	</div>   <!-- row -->