<% provide(:title, "Find A Donor") %>
<div class="row">
  <div class="col-sm-10 col-xs-offset-2">
  	<div class="page-header">
  		<h2>Find A Donor</h2>
  	</div>
  </div>
</div>
<div class="row col-xs-offset-2">
  Locate a donor
</div>