<% if @donor.errors.any? %>
  <div class="col-sm-8 col-sm-offset-2" id="error_explanation">
    <div class="alert alert-danger">
      Donor cannot be created.  The form contains <%= pluralize(@donor.errors.count, "error") %>.
    </div>
    <ul>
      <% @donor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>