<% provide(:title, "Edit Gift") %>
<% provide(:button_text, "Update") %>
<div class="row">
  <div class="col-sm-8 col-xs-offset-2">
  	<div class="page-header">
  		<h2>Edit Gift <small>&nbsp; Update this Gift</small></h2>
  		<aside class="text-right">
        <div>
          <%= link_to "Delete Gift", @gift, method: :delete,
                                                          data: { confirm: "Are you sure that you want to permanently remove this gift from the database? This action cannot be undone." } %>
        </div>
  		</aside>
  	</div>
  </div>
</div>
<div class="row">
  <%= render 'form' %>
</div>