<% provide(:title, "New Gift") %>
<% provide(:button_text, "Create") %>
<div class="row">
  <div class="col-sm-10 col-xs-offset-2">
  	<div class="page-header">
  		<h2>New Gift <small>&nbsp; Create one or many new Gifts.</small></h2>
  	</div>
  </div>
</div>
<div class="row">
  <%=render 'form' %>
</div>