@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Exo:600i|Open+Sans');

/* Core CSS */
body {
	margin-top: 10px;
	padding-top: 20px;
	margin-bottom: 60px;		/* margin bottom by footer height */
	font-family: 'Open Sans', sans-serif;
}
p{
	font-size: 1.15em;
}

/* Header */
.navbar-donna {
	background-color: white;
	height: 120px;
	border-bottom: 2px solid #85bb65;
}
.navbar-donna-search {
	margin-top: 40px;
}
.navbar-donna-brand {
	color: dimgray;
	font-family: 'Exo', sans-serif;
	a{
		color: dimgray;
		text-decoration: none;
	}
}
a.glow, a.glow:hover, a.glow:focus
{
	text-decoration: none;
	color: dimgray;
	text-shadow: none;
	-webkit-transition: 500ms linear 0s;
	-moz-transition: 500ms linear 0s;
	-o-transition: 500ms linear 0s;
	transition: 500ms linear 0s;
	outline: 0 none;
}
a.glow:hover, a.glow:focus
{
	color: #B23909;
	text-shadow: -1px 1px 8px #ffc, 1px -1px 8px #1932FF;
}
.navbar-header .navbar-brand{
    float: right;
}

/* Page Content */
.container-donna {
	padding-top: 120px;
	margin-bottom:60px;
	a {
		color: #B21212;
		&:hover{
			color: #FF0000;
		}
	}
}
.page-content{
	h1, h2, h3, h4, h5, h6{
		font-weight: bold;
		font-style: italic;
	}
}

.row-donna-home-icons {
	padding: 25px;
	font-size: 1.75;
	color: dimgray;
}
.icon-donna {
	font-size: 1.75em;
	padding-right: 12px;
}
.icon-donna-text {
	font-size: 1.75em;
	color: dimgray;
}
.icon-donna-new {
	color: #85bb65;
}
.icon-donna-surf {
	color: #9b65bb;
}
.icon-donna-reports {
	color: #6585bb;
}
.icon-donna-importexport {
	color: #bb9b65;
}
.contactDiv {
	text-align:center;
}

/** Activities */
.activity-icon {
	font-size: 20px;
	color: green;
}
.activity-text {
	font-size: 20px;
}

/* Reports */
.report-row {
	margin-top: 20px;
}
.report-text {
	color: dimgray;
}
.report-title {
	font-size: 32px;
}
.report-description{
	font-size: 1.5em;
	font-size: 24px;
	font-style: italic;
	padding-left: 10px;
}
.report-icon {
	font-size: 28px;
	padding-right: 12px;
	color: dimgray;
}

/* Import-export css - just use report css when possible */
.export-header {
	margin-top: 40px;
}
.import-color {
	color: #9b65bb;		/* import is purple */
}
.import-icon {
	font-size: 28px;
	padding-right: 12px;
}
.export-color {
	color: #bb9b65;		/* export is funky copper */
}
.export-icon {
	font-size: 28px;
	padding-right: 12px;
}

/* Hyper surf css*/
.hyper-row {
	padding-top: 20px;
}

/* Login screen CSS */
.navbar-donna-login {
	background: transparent;
}
.navbar-donna-login-logo {
	margin-top: 40px;
}
.navbar-donna-login-title {
	color: dimgray;
}
.row-login {
	padding-top: 100px;
}

/* Page Action Buttons */
.primary-action-link {
	color: #85bb65;
	font-size: 1.5em;
}

/* Forms */
.required-field-marker {
	color: #f00;
	font-weight: bold;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* Reports */
.report-title{
	font-size: 1.5em;
	font-weight: bold;
}
.report-description{
	font-size: 1.5em;
}

/* Footer CSS */
.footer {
    bottom: 0;
    width: 100%;
    height: 60px;
    position: fixed; /* Sticky Footer */
	background-color: rgba(133, 187, 101, .90);
	-webkit-border-top-left-radius: 50px;
	-webkit-border-top-right-radius: 50px;
    -moz-border-radius-topleft: 50px;
    -moz-border-radius-topright: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    font-size: 1.0em;
}
.footer-text {
	margin: 20px 0;		/* center footer text horizontally */
}
.footer a:link, .footer a:visited .footer a:active{
	color: #0971B2;
}
.footer a:hover{
	color: #1485CC;
}

/* Misc */
.top-margin-sm{
	margin-top: 10px;
}
.bottom-vertical-alignment{
	display: inline-block;
    vertical-align: bottom;
    float: none;
}
.line-break{
	display: block;
}



