// Place all the styles related to the HyperSearch controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hyper-row {
	padding-top: 20px;
}
.search-query{
    padding-top: 5px;
    padding-bottom: 5px;
}