<% provide(:title, "Edit Activity") %>
<% provide(:button_text, "Update") %>
<div class="row">
  <div class="col-sm-8 col-xs-offset-2">
  	<div class="page-header">
  		<h2>Edit Activity <small>&nbsp; Update this Activity or surf its Gifts</small></h2>
  		<aside class="text-right">
  		  <div>
      		Surf to: 
          		<%=link_to "All Gifts for this Activity", "#" %>
        </div>
        <div>
          <%= link_to "Delete activity", @activity, method: :delete,
                                                          data: { confirm: "Are you sure that you want to permanently remove this activity from the database? This action cannot be undone." } %>
        </div>
  		</aside>
  	</div>
  </div>
</div>
<div class="row">
  <%= render 'form' %>
</div>