<% provide(:title, "Edit Activity") %>
<% provide(:button_text, "Update") %>
<div class="row">
  <div class="col-sm-10 col-xs-offset-2">
  	<div class="page-header">
  		<h2>Edit Activity <small>&nbsp; Update this Activity or surf its Gifts</small></h2>
  	</div>
  </div>
</div>
<div class="row">
  <%= render 'form' %>
</div>