<!-- 3. Footer at bottom... it's sticky -->
<footer class="footer">
	<div class="container">
		<div class="footer-text">
			<div class="col-xs-6">
				&copy; 2016
			</div>
			<div class="col-xs-1 text-right">
				<%= link_to "About",    about_path %>
			</div>
			<div class="col-xs-1 text-right">
				<%= link_to "Help",    help_path %>
			</div>
			<div class="col-xs-1 text-right">
				<%= link_to "Contact",    contact_path %>
			</div>
		</div>
	</div>
</footer>