<!-- 3. Footer at bottom... it's sticky -->
<footer class="footer">
  <div class="container">
    <div class="footer-text">
      <div class="col-xs-6">
        &copy; 2016
      </div>
      <div class="col-xs-1 text-right">
        <%= link_to "Home",    root_path %>
      </div>
      <div class="col-xs-1 text-right">
        <%= link_to "About",    about_path %>
      </div>
      <div class="col-xs-1 text-right">
        <%= link_to "Help",    help_path %>
      </div>
      <div class="col-xs-1 text-right">
        <%= link_to "Contact",    contact_path %>
      </div>
    </div>
  </div>
</footer>
<script>
  $(function() {
  /* Shorten the banner on scroll */
  $(window).scroll(function() {
    var x = $(window).scrollTop();
    if (x >= 60) {
      $(".navbar-brand-image").hide();
      $( ".navbar-brand-text" ).replaceWith( "<h1 class=\"navbar-brand-text\">Gift Garden</h1>" );
      $(".navbar-donna").css("height", "60px");
      $(".navbar-donna-brand").css("padding", "0px");
      $(".navbar-donna-search").css("margin-top", "5px");
    } else {
      $(".navbar-brand-image").show();
      $( ".navbar-brand-text" ).replaceWith( "<h1 class=\"navbar-brand-text\">Gift<span class=\"line-break\">Garden</span></h1>" );
      $(".navbar-donna").css("height", "120px");
      $(".navbar-donna-brand").css("padding", "15px");
      $(".navbar-donna-search").css("margin-top", "40px");
    }
  });
  /* Bottom Align Specific Tags 
  (http://stackoverflow.com/questions/13841387/how-do-i-bottom-align-grid-elements-in-bootstrap-fluid-layout)
  */
  //for each element that is classed as 'pull-down', set its margin-top to the difference between its own height and the height of its parent
  $('.vertical-align-bottom').each(function() {
    var $this = $(this);
    $this.css('margin-top', $this.parent().height() - $this.height())
  });
  <script>
  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip(); 
  });
  </script>
});
</script>