<!-- 3. Footer at bottom... it's sticky -->
<footer class="footer">
	<div class="container">
		<div class="footer-text">
			<div class="col-xs-6">
				&copy; 2016
			</div>
			<div class="col-xs-5 text-right">
				<a href="/about">About</a>
			</div>
			<div class="col-xs-1 text-right">
				<a href="/help">Help</a>
			</div>
		</div>
	</div>
</footer>